<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.mapper.TestEntityMapper">
    <!-- 这里的id就是方法名-->
    <select id="getById" resultType="com.study.entity.TestEntity">
        SELECT * FROM Test_Entity WHERE id=#{id}
    </select>
</mapper>